@model Collection
<div class="text-center">
    <h1 class="text-center">@ViewBag.Category.Name</h1>
</div>
<div class="d-flex">
    <div class="one">
        <h2>Products:</h2>
        <ul>
            @foreach (var item in ViewBag.Category.ProductList)
            {
                <li>@item.Product.Name</li>
            }
        </ul>
    </div>
    <div class="one">
        <form action="/Categories/post" method="post">
            <input type="hidden" value="@ViewBag.Category.CategoryId" asp-for="CategoryId">
            <div class="form-group mb-2">
                <label>Add Product: </label>
                <span class="text-danger d-block"></span>
                <select class="form-control" asp-for="ProductId">
                    @foreach (Product i in ViewBag.DropDown)
                    {
                        <option value="@i.ProductId">@i.Name</option>
                    }
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</div>